<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>1</key>
			<string>ABCD1</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>ABCD2</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>ABCD3</string>
			<key>2</key>
			<string>2</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>1</key>
			<string>BCD1</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>BCD2</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>BCD3</string>
			<key>2</key>
			<string>2</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>1</key>
			<string>CD1</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>CD2</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>CD3</string>
			<key>2</key>
			<string>2</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>1</key>
			<string>D1</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>D2</string>
			<key>2</key>
			<string>2</string>
		</dict>
		<dict>
			<key>1</key>
			<string>D3</string>
			<key>2</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
